version: '3.8'

services:
  # Servidor Nginx como proxy inverso
  nginx:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs:rw  # En producci贸n, Lets Encrypt manejar谩 los certificados
      - ./vhost.d:/etc/nginx/vhost.d  # Aqu铆 puedes personalizar configuraciones por dominio
      - ./html:/usr/share/nginx/html  # Archivos HTML est谩ticos
    environment:
      - DEFAULT_HOST=localhost  #  En producci贸n, usar tu dominio (ej: example.com)

  # Generador de certificados SSL en producci贸n (Lets Encrypt)
  letsencrypt:
    image: nginxproxy/acme-companion
    container_name: letsencrypt
    restart: always
    depends_on:
      - nginx
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro  #  Asegurar que este volumen est谩 bien montado
      - ./certs:/etc/nginx/certs:rw # Lets Encrypt almacena aqu铆 los certificados en producci贸n
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
    environment:
      - NGINX_PROXY_CONTAINER=nginx_proxy
      - DEFAULT_EMAIL=tu-email@example.com  # Cambiar en producci贸n
      - LETSENCRYPT_HOST=localhost # En producci贸n, usar tu dominio real
      - LETSENCRYPT_TEST=true  # Quitar en producci贸n para emitir certificados reales


  # Servidor Python para servir archivos est谩ticos
  python_server:
    image: python:3.9
    container_name: python_server
    working_dir: /app
    volumes:
      - ./html:/app
    command: python -m http.server 8000 --bind 0.0.0.0
    expose:
      - "8000"
    environment:
      - VIRTUAL_HOST=localhost  # En producci贸n, cambiar por el dominio real
      - LETSENCRYPT_HOST=localhost
      - LETSENCRYPT_EMAIL=tu-email@example.com
